{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div style="float: left; text-align:center;margin-bottom:40px; width: 100%">
        <h1>Manage Data Base</h1>
    </div>
    <br>
    <div>
        Use this tool to view and delete instances from the data base
    </div>
    <br>
    <div style="float: left; margin-bottom:10px; width: 20%">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Select
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="btn_employe" >Employee</a></li>
                <li><a id="btn_vols" >Flight</a></li>
                <li><a id="btn_depart" >Departure</a></li>
                <li><a id="btn_passager" >Customer</a></li>
                <li><a id="btn_billet" >Staff</a></li>
                <li><a id="btn_liaison" >Connection</a></li>
                <li><a id="btn_aeroport" >Airport</a></li>
                <li><a id="btn_engine" >Engine</a></li>
            </ul>
        </div>
    </div>
    <div style="float: right; margin-bottom:10px; width:20%; text-align:right">
        <input id="btnGetSelected" class="btn btn-danger btn-lg" type="submit" value="Delete">
    </div>
    <table id="employee_table" class ="table" style="display:none">
        <thead>
            <tr>
                <th>Sécurité Sociale Number</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Type</th>
                <th>Function</th>
                <th>Flying Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for e in employee %}
            <tr>
                {% if e.numeross %}
                    <td>{{ e.numeross }}</td>
                    <td>{{ e.nom }}</td>
                    <td>{{ e.prenom }}</td>
                    <td>{{ e.type }}</td>
                    <td>{{ e.function }}</td>
                    <td>{{ e.nombreheuresvol }}</td>
                    <td><input type="checkbox" name="A" value={{ e.numeross }}></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function(){
            $('#btn_employe').click(function(){
                $('#employee_table').toggle();
            })
        });
    </script>
{% endblock %}
